
/* Global */

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}








/*Footer*/

.attribution { font-size: 0.55em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }