
/* Global */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.grey {
  color: hsl(0, 0%, 59%);
}

.copy-small {
  font-size: 0.8em;
  
}

.copy-info {
  font-size: 0.70em;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

p strong {
  font-size: 1em;
}

p.copy-small {
  margin-top: 0;
  margin-bottom: 30px;
}

p.copy-info {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Hero Section */

.hero-section {
    height: 95vh;

    background-color: hsl(185, 75%, 39%);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile Card */

.profile-card-wrapper {
    display: flex;
    flex-direction: column;

    width: 325px;
    height: 420px;

    background-color: white;

    border-radius: 0.5em;
}

.user-wrapper {
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 2 1 285px;

  border-bottom: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.5em 0.5em 0 0; 
}

.image{
  border-radius: 50%;
  border: 5px solid white;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}

.padding-left {
  padding-left: 2px;
}

.user-info-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 90px;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 230px;
  
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Footer*/

.attribution { 
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;

  font-size: 0.55em; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}