
/* Global */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;

    color: hsl(229, 23%, 23%);
}

.grey {
  color: hsl(0, 0%, 59%);
}

.copy-small {
  font-size: 0.8em;
}

.copy-info {
  font-size: 0.70em;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

p strong {
  font-size: 1em;
}

p.copy-small {
  margin-top: 0;
  margin-bottom: 30px;
}

p.copy-info {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Hero Section */

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.hero-section {
    height: 665px;
    width: 100%;

    background-color: hsl(185, 75%, 39%);
    background-image: url("../assets/images/bg-pattern-top.svg"),url("../assets/images/bg-pattern-bottom.svg");
		background-repeat: no-repeat, no-repeat; 
		background-position: -47rem -32rem ,8rem 19rem; 
   
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile Card */

.profile-card-wrapper {
    display: flex;
    flex-direction: column;

    width: 325px;
    height: 420px;

    background-color: white;

    border-radius: 0.5em;
}

.user-wrapper {
  background-image: url("../assets/images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 2 1 285px;

  border-bottom: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.5em 0.5em 0 0; 
}

.image{
  border-radius: 50%;
  border: 5px solid white;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}

.padding-left {
  padding-left: 2px;
}

.user-info-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 90px;

  margin-top: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Footer*/

.attribution { 
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-size: 0.55em; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* ----------- Tablet Screens -----------*/
@media screen 
  and (min-width: 500px) 
  and (max-width: 1200px) {
    /* Hero Section */
    .hero-section {
      background-position: -28rem -32rem, 12rem 19rem;
    }
  }
/* ----------- Desktop Screens ----------- */
@media screen 
  and (min-width: 1200px) { 
    /* Hero Section */

    .center-w1 {
      max-width: 1440px;
      margin: 0 auto;
    }

    .hero-section {
      width: 100%;
      height: 720px;
      background-position: -18rem -32rem, 46rem 20rem; 
    }

    /* Profile Card */

    .profile-card-wrapper {
      width: 350px;
    }
}